a:link {
    text-decoration: none; 
    color: black;
   
}
header{
   background-color: #002a4e; 
   height:130px;
   width: 100%;
   
}
h1{
     padding: 20px;
    color: white;
    font-size: 220%;
    
}
.col-layout{
    max-width: 1300px;
    margin 40px auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

#img{
  
    width: 250px;
    height: 300px;
}
.pic1{
    flex:1;
}
.pic2{
    flex:1;
}
.pic3{
    flex:1;
}
.pic4{
    flex:1;
}