body {
   font-family: 'Baumans';
}

.topnav {
  overflow: visible;
  background-color: #333;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #45A29E;
  color: black;
}

.active {
  /*background-color: #45A29E;*/
  color: #45A29E;
  margin-left: 38%;
}
header{
    color: #66FCF1;
    font-size: 200%;
}
.img-circular{
 width: 200px;
 height: 200px;
 background-image: url('https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/40994704_1735895123206678_917417963751997440_n.jpg?_nc_cat=0&oh=a4f76203f79748ccaa7e234332af8c6e&oe=5BF5FDE4');
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-top: 50px;
}
.col-layout{
    max-width: 1300px;
    margin:40px auto;
    line-height: 1.65;
    padding: 0px 50px;
    display: flex;
    font-size: 110%;
    }
p{
    color: white;
    font-size: 95%;
    margin-left: 257px;
}
footer {
text-align: center;
font-size: 11px ;
font-family: verdana ;
color: #66FCF1 ;
}
#language {
      	margin-left: 37%;
    border-collapse: collapse;
    /*width: 30%;*/
}

#language td, #language th {
    border: 1px solid #ddd;
    padding: 8px;
}

#language tr:nth-child(even){background-color: #f2f2f2;
}

#language tr:hover {background-color: #ddd;}

#language th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1F2833;
    color: white;
}
.notes{
    margin-left: 10%;
}
iframe{
    margin-left: 20%;
}
