#myHeader{
    color: #FAED26;
    text-align: center;
    font-size: 380%;
}
.topnav {
  overflow: visible;
  background-color: #333;
}


.topnav a {
   margin-left: 18%;
  color: #FAED26;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
  font-size: 17px;
  
}
a{
  text-decoration: none;
  color: #9D8D8F;
}
.active {
  color: #9D8D8F;
  
}
.para-row{
   
    padding: 10px 0px;
    display: flex;
    font-size: 120%;
}
.container{
  padding: 10px 250px;
}
.col-layout{
  max-width: 1300px;
  margin: 40px auto 0 auto;
  line-height: 1.5;
  padding: 20px 50px;
  display: flex;
}
.sidebar1{
  flex: 1;
}
.sidebar2{
  flex: 1;
}
.sidebar3{
  flex: 1;
}

body {
    font-family: 'BenchNine';font-size: 22px;
}
